{
    "root": true,
    "env": {
      "node": true,
      "es2021": true
    },
    "extends": ["plugin:security/recommended", "plugin:prettier/recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
      "prettier/prettier": "warn",
      "no-fallthrough": ["error", { "commentPattern": "break[\\s\\w]*omitted" }],
      "no-console": ["error", { "allow": ["warn", "error", "info"] }],
      "key-spacing": ["error", { "mode": "minimum" }],
      "no-multi-spaces": [
        "error",
        { "exceptions": { "VariableDeclarator": true } }
      ],
      "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
      "func-call-spacing": ["error", "never"]
    }
  }